@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.content::before {
    content: "";
    background-image: url('../assets/Logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* Change this to the opacity you want */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.content .head-1 {
    font-size: clamp(2em, 5vw, 3em);
    line-height: 1;
    font-family: 'Oswald', sans-serif;
}

.content .head-2 {
    font-size: clamp(4rem, 5vw, 6rem);
    line-height: 1;
    font-family: 'Oswald', sans-serif;
}

.content .head-3 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    line-height: 2;
}


/* NotFound.tsx */

.found {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #000;
    margin-top: 1em;
}

.found a {
    color: #000;
    text-decoration: none;
}

.found a::after {
    content: '';
    width: 0;
    height: 3px;
    display: block;
    background: #000;
    transition: width .6s;
}

.found a:hover {
    color: #000;
}

.found a:hover::after {
    width: 100%;
}