@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@keyframes appearFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar {
    position: relative;
    padding-bottom: clamp(0rem, 5vw, 1rem);
    transition: all 0.4s ease-in-out;
}

.navbar.stick-nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
}

.navbar .logo-box {
    padding-left: clamp(0rem, 5vw, 5rem);
    padding-top: clamp(0rem, 5vw, 1rem);
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.navbar .logo-box img {
    height: clamp(4.5rem, 5vw, 6.875rem);
    image-resolution: from-image;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    width: auto;
}

.navbar .logo-box img:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: #003c43 0 0 10px;
    transition: all 0.4s ease-in-out;
}

.navbar .menu-btn {
    padding-right: clamp(0rem, 5vw, 1.5rem);
    padding-top: clamp(0rem, 5vw, 1.87rem);
    transition: all 0.3s ease-in-out;
}

.navbar .menu-btn svg {
    height: 2rem;
    cursor: pointer;
}

.navbar .auth-btn {
    padding-right: clamp(0rem, 5vw, 5rem);
    transition: all 0.3s ease-in-out;
}

.navbar .auth-btn a {
    padding: clamp(0px, 5vw, 7px) clamp(0rem, 5vw, 1rem);
    gap: 0.5rem;
}

.navbar .auth-btn a span {
    font-size: clamp(0rem, 5vw, 1.30rem);
    font-weight: 500;
    letter-spacing: 0.8px;
    color: #fff;
}

.navbar .auth-btn svg {
    height: clamp(0rem, 5vw, 1.5rem);
    fill: #303030;
}

.navbar .nav-links {
    opacity: 0;
    gap: clamp(0rem, 5vw, 3.37rem);
    padding-top: clamp(0rem, 5vw, 2.5rem);
    transition: all 0.6s ease-in-out;
    animation: appearFromTop 0.7s ease-in-out forwards;
}

.navbar .nav-links a {
    font-size: clamp(0rem, 5vw, 2rem);
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #fff;
    transition: color 0.4s ease-in-out;
}

.navbar .nav-links a:hover {
    color: #226372;
    transform: scale(1.05);
    text-shadow: #226372 0px 0px 3px;
    transition: all 0.4s ease-in-out;
}

.navbar .nav-links a.active {
    color: #226372;
    transition: all 0.4s ease-in-out;
}