@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.content::before {
    content: "";
    background-image: url('../assets/Logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* Change this to the opacity you want */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

h1 {
    font-family: 'Oswald', sans-serif;
}